{% extends 'auths/profile/user_profile_base.html' %}


{% block profil_icerik %}
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-10 pull-center">
            <form method="post" action="{% url 'user-password-change' %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label class="control-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span class="text-danger"><b>{{ error }}</b></span>
                            {% endfor %}
                        {% else %}
                            {% if field.help_text %}
                                <span class="text-success"><b>{{ field.help_text|safe }}</b></span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            <div class="form-group">
                <input type="submit" value="Şifre Değiştir" class="pull-right btn btn-sm btn-success">
            </div>
            </form>
        </div>
    </div>
{% endblock %}